*solver
implicitNewmark

*massSpringSystemObjConfigFilename
beam3_vox.massspring

*renderingMeshFilename
beam.obj
*dampingMassCoef
1

*dampingStiffnessCoef
0.31623

*fixedVerticesFilename
constraints.bou

*forceLoadsFilename
loads.csv

*momentRigidSectionLoadsFilename
moments.csv

*vegaConfigurationsFilename
vegaConfigurations.csv

