*solver
implicitNewmark

*massSpringSystemObjConfigFilename
beam3_vox_coarse.massspring

*renderingMeshFilename
beam_coarse.obj

*dampingMassCoef
1

*dampingStiffnessCoef
0.31623

*fixedVerticesFilename
constraints_coarse.bou

*forceLoadsFilename
loads_coarse.csv

*momentRigidSectionLoadsFilename
moments_coarse.csv

*vegaConfigurationsFilename
vegaConfigurations_coarse.csv

