*solver
implicitNewmark

*massSpringSystemObjConfigFilename
beam3_vox_finer.massspring

*renderingMeshFilename
beam_finer.obj

*dampingMassCoef
1

*dampingStiffnessCoef
0.31623

*fixedVerticesFilename
constraints_finer.bou

*forceLoadsFilename
loads_finer.csv

*momentRigidSectionLoadsFilename
moments_finer.csv

*vegaConfigurationsFilename
vegaConfigurations_finer.csv

